{% extends 'layout.html' %}
{% block title %}Admin Page{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
{% if current_user.level == 1 %}

{%if app %}
<div class="table-container" >
<table class="table table-hover text-center" border="1">
<thead>
<tr>
<th class = "text-center"> Club Name </th>
<th class = "text-center"> Club Type </th>
<th class = "text-center"> Club Definition</th>
<th class = "text-center"> Accept</th>
<th class = "text-center"> Decline</th>
</tr>
</thead>
{% for a in app %}
<tr>
<td>{{a[1]}} </td>
<td>{{a[2]}} </td>
<td>{{a[3]}} </td>
<td><a href="acceptApp/{{a[0]}}"
class="trash"><span class="glyphicon glyphicon-ok"></span></a></td>
<td><a href="declineApp/{{a[0]}}"
class="trash"><span class="glyphicon glyphicon-trash"></span></a></td>
</tr>
{% endfor %}
</table>
</div>

{% else %}
<div class="alert alert-info">
  <strong><span class="glyphicon glyphicon-info-sign"></span></strong> There is no pending club applications!
</div>
{% endif %}
{% else %}
<p> You are not a admin! </p>
{% endif %}
{% endif %}
{% endblock %}
