{% extends 'layout.html' %}
{% block title %} Clubs {% endblock %}

{% block content %}
<head>
 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/shuffle.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/shuffle-styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/prism.css') }}" />  
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}" />

</head>
<body class="home">
	<h1 class="w3-xlarge"><strong>Clubs<strong></h1><br>

  <div>
    <div class="row">

      <div class="col-12-sm filters-group-wrap">
        <div class="filters-group pull-left col-lg-4 col-lg-offset-3 " style="display:inline">
          <legend class="filter-label">Filter</legend>
          <div class="btn-group filter-options">
            <button class="btn btn--primary" data-group="all">All</button>
            <button class="btn btn--primary" data-group="Sport">Sports</button>
            <button class="btn btn--primary" data-group="Profession">Profession</button>
            <button class="btn btn--primary" data-group="Culture/Art">Culture/art</button>
          </div>
        </div>

        <div class="filters-group pull-right col-lg-4 col-lg-offset-0" style="display:inline">
          <legend class="filter-label">Sort</legend>
          <div class="btn-group sort-options">
            <label class="btn active">
              <input type="radio" name="sort-value" value="dom" > Default
            </label>
            <label class="btn">
              <input type="radio" name="sort-value" value="title" > Title
            </label>
            <label class="btn">
              <input type="radio" name="sort-value" value="date-created" > Date Created
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="grid" class="row my-shuffle-container">

{% for club in clubs %}
<figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["{{club[2]}}", "all"]' data-date-created="2017-04-30" data-title="{{club[1]}}">
  <div class="picture-item__inner">
    
    <div class="aspect aspect--16x9">
      <div class="aspect__inner">
        <img src="{{ url_for('static', filename = 'emoji_v1.png') }}" alt="{{club[1]}}" />   
      </div>
    </div>
    
    <div class="picture-item__details">
      <figcaption class="picture-item__title"><a href="{{url_for('link2.clubProfile', id=club[0])}}" rel="noopener">{{club[1]}}</a></figcaption>
    </div>
    
  </div>
</figure>
{% endfor %}

    </div>
  </div>

<!-- Shuffle! -->
<script src="../static/js/shuffle.js"></script>
<!-- Syntax highlighting via Prism -->
<script src="../static/js/prism.js"></script>

<script src="../static/js/site-nav.js"></script>

<script src="../static/js/homepage.js"></script>

<script src="../static/js/animated-favicon.js"></script>

</body>
{% endblock %}

