{% extends 'layout.html' %}
{% block title %} Hardware Configuration {% endblock %}

{% block content %}
 <form  method = "POST" action= " {{ url_for('link3.savehw') }}">
  <div class="container" align="center">
  <div class="login">
    <h1 class="w3-xlarge"> <strong><strong> Hardware Configuration </h1> <br>
  <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
  <select class="w3-select w3-orange" name="cpu" required>
	<option value=""  selected disabled class="hideoption">Select a CPU</option>
  {% for c in cpu %}
  <option>{{c[0]}}</option>
  {% endfor %}
	</select>
</div>
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
	<select class="w3-select w3-orange" name="gpu" required>
	<option value=""  selected disabled class="hideoption">Select a GPU</option>
  {% for g in gpu %}
  <option>{{g[0]}}</option>
  {% endfor %}
	</select>

</div>

  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
	<select class="w3-select w3-orange" name="ram" required>
	<option value="" selected disabled class="hideoption">Select a RAM</option>
  {% for r in ram %}
  <option>{{r[0]}}</option>
  {% endfor %}
	</select>

</div>
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
	<select class="w3-select w3-orange" name="os" required>
	<option  value="" selected disabled class="hideoption">Select an OS</option>
  <option>Windows</option>
  <option>Linux</option>
  <option>MacOS</option>
	</select>
</div>
  <br>
    <div>
      <button type="submit" class="btn">Save</button>
    </div>
  </div>
</div>
</form>

      <button type="submit" class="btn"><a href="{{ url_for('static', filename = 'getHardwareInfo.py')}}" class="w3-button w3-block w3-dark-grey" download="{{uid}}.py">Get My Specifitation</button>

      <button type="submit" class="btn"><a href="{{ url_for('static', filename = 'RunMe.bat')}}" class="w3-button w3-block w3-dark-grey" download="RunMe.bat">Get Also My Specifitation</button>

      <!-- <span style="color: #0000ff;">
        <a href="{{ url_for('static', filename = 'RunMe.bat')}}" download="RunMe.bat"><a href="{{ url_for('static', filename = 'getHardwareInfo.py')}}" download="{{uid}}.py">
                                    
      <input id="downloadAllButton" type="button" value="Download files" /></span> -->

<!--       <a href="{{ url_for('static', filename = 'userspec.py')}}" class="w3-button w3-block w3-dark-grey" download="{{uid}}.py"><span class="fa fa-microchip"></span>&nbsp;Get my hardware info!</a> -->

{% endblock %}
