{% extends 'layout.html' %}
{% block title %} Detailed Search {% endblock %}

{% block content %}
 <form  method = "POST" action= " {{ url_for('link2.send_detsearch') }}">

  <div class="container" align="center">
  <div class="login">
    <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
         <input type="text" placeholder="Keyword" name="keyword" class="input-txt" required><br>
    </div>

<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
	<select class="w3-select w3-orange" name="genre">
	<option value="" selected disabled class="hideoption">Select a Genre</option>
  {% for g in genres %}
  <option value="{{g['id']}}">{{g['name']}}</option>
  {% endfor %}
	</select>
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
  <select class="w3-select w3-orange" name="category">
  <option value="" selected disabled class="hideoption">Select a Category</option>
  {% for g in category %}
  <option value="{{g}}">{{g}}</option>
  {% endfor %}
  </select>
</div>
<div class="input-group">
     <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
     <input type="text" placeholder="Total Rating" name="rating" class="input-txt"><br>
</div>
<br>
<button class="btn"  type="submit">Search!</button>

</form>
{% endblock %}
