{% extends 'layout.html' %}
{% block title %} Hardware Configuration {% endblock %}

{% block content %}
 <form  method = "POST" action= " {{ url_for('link2.send_detsearch') }}">

  <div class="container" align="center">
  <div class="login">
    <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
         <input type="text" placeholder="Keyword" name="keyword" class="input-txt" required><br>
    </div>

  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i></span>
	<select class="w3-select w3-orange" name="genre" required>
	<option value="" selected disabled class="hideoption">Select a Genre</option>
  {% for g in genres %}
  <option value="{{g['id']}}">{{g['name']}}</option>
  {% endfor %}
	</select>

</div>
  <br>
    <div>
      <button type="submit" class="btn">Search</button>
    </div>
  </div>
</div>
</form>
{% endblock %}
