{% extends 'layout.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}

 <form  method = "POST" action= " {{ url_for('link3.updateProfile') }}">

   <div class="container" align = "center">
     <div class="login">
    <!-- <label><b>Email</b></label> -->
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
    <input type="email"  placeholder="Enter Email" name="email" class="input-txt" required><br>
    </div>
    <br>
    <!-- <label><b>Password</b></label> -->
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Enter Password" name="psw" class="input-txt" required><br>
    </div>
    <br>
    <!-- <label><b>Repeat Password</b></label> -->
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" class="input-txt" required><br>
    </div>
    <br>
    <div >
      <br><button type="submit" class="btn">Update</button>
    </div>
  </div>
  </div>
</form>

{% endif %}
{% endblock %}
