{% extends 'layout.html' %}
{% block title %} PAGS - {{game['name']}} {% endblock %}

{% block content %}


<style type="text/css">
    .search-game {
      margin-top: 50px;
    }
    .info{
      font-size: 25px;
      margin-bottom: 50px;
      color:black;
    }

    .info2{
    	font-size: 34px;
    }

   	.info3{
   		font-size:  18px;
   	}
   	.info4{
   		font-size:  16px;
   	}
    .header{
    	font-size: 40px;
    	color:black;
    }
    .glyph{
    	font-size: 70px;
    }
    .black{
    	color: black;
    }
    .carousel {
  		width:640px;
  		height:360px;
	}
	.rate{
		p{{game['total_rating']}}
	}


</style>

<head><link rel="stylesheet" href="{{ url_for('static', filename = 'css/circle.css')}}" /></head>
<head><link rel="stylesheet" href="{{ url_for('static', filename = 'css/myVideo.css')}}" /></head>


<div class="row">
{%if game['cover']['url'] %}
    <div class="col-md-3 text-left">
      <div class="media">
        <br><br><br><br>
			<div class="container">
			  <img class="img-responsive" src="{{game['cover']['url']}}">
			</div>
      </div>
    </div>
{% endif %}
    <div class="col-md-6 text-left">
    	<br>
    	<h3 class="header">
			<p>
				<strong style="color : orange">{{game['name']}} </strong>
			</p>
    	</h3>
    	<br>
      {%if game['release_dates'][0]['human'] %}
    	<div class="info3">
    		<strong style="color : orange"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></strong>&nbsp;
    		{{game['release_dates'][0]['human']}}

		</div>
    {% endif %}
      {% if req['Minimum']['CPU']['Intel'] != "noreq" %}
      <br>
        <div class="info3">Minimum System Requirements:</div>
        <div> <strong style="color : orange">CPU:</strong> {{req['Minimum']['CPU']['Intel']}} / {{req['Minimum']['CPU']['AMD']}}  </div>
        <div> <strong style="color : orange">GPU:</strong> {{req['Minimum']['GPU']['Nvidia']}} / {{req['Minimum']['GPU']['AMD']}}  </div>
        <div> <strong style="color : orange">RAM:</strong> {{req['Minimum']['RAM']}}  </div>
      {% endif %}
        <br>
        <div class="info3">Can I Run It:
          {% if canI == -1 %} <i class="fa fa-question fa-lg" aria-hidden="true"></i>
          {% elif canI == 0 %} <i style="color:red"class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
          {% else %}<i style="color:green"class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
          {% endif %}
          </div>


    </div>
    <div class="col-md-3">
    	<br><br>
    	<div class="row">

    		<font size=5 color="orange";>Total Rating</font>


		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<div class="clearfix">
                <div class="c100 rate default orange text-center">
                    <span>{{game['total_rating']}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
			    </div>
			</div>

    	</div>
    	<font size=3><u>Total Votes: {{game['total_rating_count']}}</u></font>

    </div>
</div>

<br>
<div class="info text-left">

	<u class="info3"><strong><font color="orange"; >Game Summary:</font></strong></u>
	<br>
	<p class="info4">{{game['summary']}}</p>
  <div class="info3 black"><u><strong><font color="orange";>Genre:</font></strong></u></div>
    {% for g in game['genres'] %}
    <p class="info4">
 <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;{{ g }}
</p>
{% endfor %}

</div>

{% if game['screenshots'] %}
	<div class="row">
		<div class="col-md-7">
		<h2>Screenshots:</h2>
			  <meta name="viewport" content="initial-scale=5">
			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


			<div class="container">
			  <div id="myCarousel" class="carousel slide" data-ride="carousel"style="height=320px; width:569px;">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			      <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
			      <li data-target="#myCarousel" data-slide-to="1"></li>
			      <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>
<!-- {% if game['screenshots'][0]['url'] or game['screenshots'][1]['url'] or game['screenshots'][2]['url']%}
			    <!-- Wrapper for slides  style="height=400%; width:360px;"-->
			    <div class="carousel-inner" >
{% if game['screenshots'][0] and game['screenshots'][0]['url'] %}
			      <div class="item active">
			        <img  align="middle" src="{{game['screenshots'][0]['url']}}">
			      </div>
            {% endif %}
{% if game['screenshots'][1] and game['screenshots'][1]['url'] %}
			      <div class="item">
			        <img  align="middle" src="{{game['screenshots'][1]['url']}}">
			      </div>
            {% endif %}
{% if game['screenshots'][2] and game['screenshots'][2]['url'] %}
			      <div class="item">
			        <img  align="middle" src="{{game['screenshots'][2]['url']}}">
			      </div>
            {% endif %}
			    </div>
{% endif %} -->
{% if game['screenshots'][0]['url'] or game['screenshots'][1]['url'] or game['screenshots'][2]['url']%}
			    <!-- Wrapper for slides  style="height=400%; width:360px;"-->
			    <div class="carousel-inner" >
{% if game['screenshots'][0] and game['screenshots'][0]['url'] %}
			      <div class="item active">
			        <img  align="middle" src="{{game['screenshots'][0]['url']}}">
			      </div>
            {% endif %}
{% if game['screenshots'][1] and game['screenshots'][1]['url'] %}
			      <div class="item">
			        <img  align="middle" src="{{game['screenshots'][1]['url']}}">
			      </div>
            {% endif %}
{% if game['screenshots'][2] and game['screenshots'][2]['url'] %}
			      <div class="item">
			        <img  align="middle" src="{{game['screenshots'][2]['url']}}">
			      </div>
            {% endif %}
			    </div>
{% endif %}
			    <!-- Left and right controls -->
			    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" href="#myCarousel" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>
			      <span class="sr-only">Next</span>
			    </a>
			  </div>
			</div>
		</div>
  {% endif %}
        {% if game['url'] or game['websites']%}
		<div class="col-md-5">
			<br><br>
              {% if game['url'] %}
			<div> <u>IGDB Link:</u> </div><br><br>
			<div>
				<input type="button" class="btn btn-primary btn-lg" value="IGDB" onclick=" relocate_igdb()">
				<script>
				function relocate_igdb()
				{
				     location.href = "{{game['url']}}";
				}
				</script>
			</div>
      {% endif %}
      <br><br><br>
              {% if game['websites'] %}
			<div> <u>Other Pages:</u> </div><br><br>
              {% if game['websites'][0] and game['websites'][0]['url'] %}
			<div>
				<input type="button" class="btn btn-primary btn-lg" value="See..." onclick=" relocate_wiki()">
				<script>
				function relocate_wiki()
				{
				     location.href = "{{game['websites'][0]['url']}}";
				}
				</script>
			</div>{% endif %}<br><br>
              {% if game['websites'][1] and game['websites'][1]['url'] %}
			<div>
				<input type="button" class="btn btn-primary btn-lg" value="See..." onclick=" relocate_wikia()">
				<script>
				function relocate_other()
				{
				     location.href = "{{game['websites'][1]['url']}}";
				}
				</script>
			</div>
      {% endif %}
{% endif %}
		</div>
    {% endif %}
	</div>

{% endblock %}
