{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="w3-animate-zoom">
<br><div class="w3-jumbo"><img src="{{ url_for('static', filename = 'pags_resized.gif') }}" align="middle" alt="clava"><br><br><br></div> <br> <br>
	<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
		<form  method = "POST" action= "{{ url_for('link1.search') }}">
		<div class="input-group" >
      	<input type="text" class="form-control" placeholder="Search a game..."  name="keyword">
      	<span class="input-group-btn">
        	<button class="btn"  type="submit">Search!</button>
      	</span>
    </div><!-- /input-group -->
		</form>
		    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

{% endblock %}
