<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/w3_v2.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login7.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/component.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-toggle.min.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ourstyle.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" />
<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/lavishr.css')}}" /> -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/w3_v2.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/nivo-slider.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login_popover_v2.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/search_v4.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>{% block title %}{% endblock %}</title>
<!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'logo_colorful_c_v3.png') }}"> -->
</head>
<style>
a:hover{
	color:#444444;
	text-decoration: none;
}
</style>
<body>
	<!-- Navigation -->
<nav class="navbar navbar-default navbar-inverse " style="background-color: #444" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li class="w3-hover-ccc"><a style="color: #E88E0C;"href="{{ url_for('link1.home_page') }}"><img src="{{ url_for('static', filename = 'pags_logo_resized_v3.png') }}" align="middle" alt="clava"></a></li>
        <li class="w3-hover-ccc"><a style="color: #E88E0C" href="{{ url_for('link2.det_search') }}"><strong>Detailed Search</strong></a></li>
        {% if current_user.is_authenticated %}
				<li class="w3-hover-ccc"><a style="color: #E88E0C" href="{{url_for('link5.pags')}}"><strong>PAGS Reccommand Engine</strong></a></li>
        {% endif%}
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {% if current_user.is_authenticated %}
    <li class="w3-hover-sepia"><a style="color: #E88E0C" href="{{url_for('link3.userProfile')}}"><span class="fa fa-user-circle fa-lg"></span>&nbsp;<strong> {{ current_user.name }}</strong></a></li>
    <li class="w3-hover-opacity"><a style="color: #FF3A00" href="{{url_for('link1.logout')}}"><span title="Logout" class="glyphicon glyphicon-log-out"></span></a>
    </li>
    {% endif %}
        {% if current_user.is_anonymous %}

    <li class="dropdown w3-hover-ccc">
          <a style="color: #E88E0C" href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Login</b> <span class="glyphicon glyphicon-log-in"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
          <div class="row">
              <div class="col-md-12">
                 <form class="form" role="form" method="POST" action="{{url_for('link1.login')}}" accept-charset="UTF-8" id="login-nav">
                  <h1 class="login-heading"><center><strong>Welcome!</strong></h1>
                    <div class="form-group">
                       <label class="sr-only" >Email address</label>
                       <input type="text" name="uname" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only">Password</label>
                       <input type="password" name="psw" class="form-control" placeholder="Password" required><br>
                                             <!-- <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div> -->
                    <div class="form-group">
                       <button type="submit" class="btn btn-block">Sign in</button>
                    </div>
                    <!-- <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div> -->
                 </form>
              </div>
              <div class="bottom text-center">
                <span class="login-heading" style="font-size: 1.3em;">Want to join? <br>
									<a href="{{ url_for('link1.signup') }}"><img class="w3-opacity w3-hover-opacity-off" alt="Sign Up" src="{{ url_for('static', filename = 'signup2.png') }}"></a>
								</span>
                </div>
          </div>
        </li>
      </ul>
    </li>

    {% endif %}
      </ul>
      <form class="navbar-form navbar-right" method="POST" action="{{ url_for('link1.search') }}" role="search">
      			<div class="input-group" >
      	<input  type="text" class="form-control" placeholder="Search a game..."  name="keyword">
      	<span class="input-group-btn" style="color:E88E0C">
        	<button class="btn"  type="submit"><a class="glyphicon glyphicon-search"></a></button>
      	</span>
    </div><!-- /input-group -->
		</div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  {% with messages = get_flashed_messages() %}
{% if messages %}
<div class="w3-card w3-orange w3-display-container">
	{% for message in messages %}
  <center>
 	 <strong>
 <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">&nbsp;</span>{{ message }}</strong></center></p>
 {% endfor %}
 </strong>

<!-- </div>
<div class="w3-button w3-padding-small w3-orange w3-right"><span onclick="this.parentElement.style.display='none'"
 >&times;</span>
	</div> -->

<!-- <div class="alert alert-warning"><strong>
	{% for message in messages %}
		<center> {{ message }} </center>
	{% endfor %}
	</strong></div> -->
{% endif %}
{% endwith %}
</nav>


	<script type="text/javascript" src='static/js/jquery.js'></script>
	<script type="text/javascript"
		src='static/js/jquery-3.1.1.min.js'></script>
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src='static/js/bootstrap.min.js'></script>
	<script type="text/javascript"
		src='static/js/modernizr.custom.js'></script>
	<script type="text/javascript" src='static/js/classie.js'></script>
	<script type="text/javascript" src='static/js/modalEffects.js'></script>
	<script>
		// this is important for IEs
		var polyfilter_scriptpath = 'static/js/';
	</script>
	<script type="text/javascript" src='static/js/cssParser.js'></script>
	<script type="text/javascript"
		src='static/js/bootstrap-toggle.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover({
				placement : 'bottom',
				trigger : 'active'
			});
		});
	</script>

	<!-- Page Content -->

	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">{% block content %}
				{%endblock %}</div>

		</div>
		<!-- /.row -->

	</div>

	<!-- /.container -->
</body>


<!-- <div id ="footer" style = "position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;">

  <b> &copy TURGUT KORAY BESTE</b>  <i>{{ current_time }}</i>

   </div> -->

</html>
