<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Login dropdown</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="current-menu-item"><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form method="POST" action="#" class="search" style="margin-right: 1%">
        <legend>Search</legend>
        <input type="text" name="search" value="" />
        <span class="glyphicon glyphicon-search" style="vertical-align:middle; horizontal-align:middle; right: 3px"></span>
      </form>
      <ul class="nav navbar-nav navbar-right">
        
        {% if current_user.is_authenticated %}
    <li style="color: #E88E0C" >
      <a style="color: #E88E0C" href="{{ url_for('link3.userProfile') }}"><span class="glyphicon glyphicon-user"></span>Hi {{ current_user.name }}!</a>
      <a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Logout" class="w3-button w3-padding-small w3-orange w3-circle"><span class="glyphicon glyphicon-log-out"></span></button></a> 
    </li>
  

    {% endif %}
        {% if current_user.is_anonymous %}
    <!-- <button type="button" class="w3-button w3-padding-small w3-orange w3-circle" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="glyphicon glyphicon-log-in"></span><a style="color: #E88E0C" href="{{ url_for('link1.logout') }}"><button title="Login" class="btn btn-default"></button></a></button> -->



    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="glyphicon glyphicon-log-out"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
          <div class="row">
              <div class="col-md-12">
                 <form class="form" role="form" method="POST" action="{{url_for('link1.login')}}" accept-charset="UTF-8" id="login-nav">
                  <h1 class="login-heading"><strong>Welcome.</strong> Please login.</h1>
                    <div class="form-group">
                       <label class="sr-only" >Email address</label>
                       <input type="text" name="uname" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only">Password</label>
                       <input type="password" name="psw" class="form-control" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                <span class="login-heading" style="font-size: 1.3em;">Want to join? 
                  <a  class="login-heading" style = "color:green; font-size: 1.5em;"href="{{ url_for('link1.signup') }}"><b>SIGN UP!</b></a>
                </span>
                </div>
          </div>
           
        </li>
      </ul>
    </li>

    {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</body>