{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1 class="w3-xlarge"> <strong>User Profile <strong> </h1> <br>
<div class= "col-lg-6 col-lg-offset-3">
<div class="w3-card-4">

<header class="w3-container w3-orange">
  <br>
    <h1 class = "w3-large"><strong>{{current_user.name}}</strong></h1>
  <br>
</header>

<ul class="w3-ul">

  <li><span class="fa fa-at" style="color:#E88E0C" aria-hidden="true"></span>&nbsp;{{current_user.email}}</li>

  <li>
  <strong style="color:#E88E0C">CPU: </strong>{{specs[0]}}<br>
  <strong style="color:#E88E0C">GPU: </strong>{{specs[1]}}<br>
  <strong style="color:#E88E0C">RAM: </strong>{{specs[2]}}
  </li>
</ul>

<a href="{{ url_for('link3.editProfile') }}" class="w3-button w3-block w3-dark-grey"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Profile</a>
<a href="{{ url_for('link3.confighw') }}" class="w3-button w3-block w3-dark-grey"><span class="fa fa-microchip"></span>&nbsp;Configure My Hardware Info</a>
<!-- <a href="{{ url_for('static', filename = 'userspec.py')}}" class="w3-button w3-block w3-dark-grey" download="{{uid}}.py"><span class="fa fa-microchip"></span>&nbsp;Get my hardware info!</a> -->
</a>
</div>
</div>

{% endif %}
{% endblock %}
