{% extends 'layout.html' %}
{% block title %} Sign Up {% endblock %}

{% block content %}

 <form  method = "POST" action= " {{ url_for('link1.register') }}">
  <div class="container" align = "center">
    <div class="login">
        <h1 class="w3-xlarge"> <strong>Sign Up</strong> </h1> <br>

    <br>
    <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
         <input type="text" placeholder="Username" name="name" class="input-txt" required><br>
    </div>

    <br>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
    <input type="email"  placeholder="Enter Email" name="email" class="input-txt" required><br>
    </div>
    <br>
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Enter Password" name="psw" class="input-txt" required><br>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" class="input-txt" required><br>
    </div>
    <br>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div >
      <button type="submit" class="btn">Sign Up</button>
    </div>
  </div>
  </div>
</form>
{% endblock %}
